# Default owners for everything in the repo
*       @tcharding

# Owners for specific directories
/bitcoind/          @tcharding @jamillambert @RCasatta
/bitreq/            @TheBlueMatt @tnull @oleonardolima 
/client/            @tcharding @jamillambert
/electrsd/          @RCasatta @tcharding @jamillambert
/integration_test/  @tcharding @jamillambert
/jsonrpc/           @apoelstra @tcharding @jamillambert
/types/             @tcharding @jamillambert
/verify/            @tcharding @jamillambert

